.player-opitions img{
    max-width: 200px;
    opacity: 0.3;
    cursor: pointer;

}
.enemy-options img{
    max-width: 200px;
    opacity: 0.3;
    cursor: pointer;
}
.player-opitions,.enemy-options{
    width: 50%;
}
.aling{
    display: flex;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    
}